body{
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    text-align: center;
    color: #fff;
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url(./7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-attachment: fixed;
}

.timetable {
    width: 80%;
    padding: -20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;

}
.timetable h1 {
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
thead {
    background:rgb(146, 6, 6); 
}
thead th {
    padding: 20px;
}
tbody tr {
    border-bottom: 1px solid #ddd;
    padding: 20px;
}
tbody td {
    padding: 20px;
    text-align: center;
}
tbody tr:hover {
    background-color: #f1f1f1;
    color:black ;
}
.header{
    background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url(./7.jpg);
    background-size: cover;
    height: 101vh;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
}
.sign-up a{
    padding: 5px 20px;
    text-transform: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}
.menu ul li a:hover{
    color: rgb(0, 0, 0);
    background-color: #fff;
    border-radius: 5px;
}
.menu ul li {
    margin-left: 20px;
    margin:0 70px;
    display: inline-block;
    text-align: center;
}
.menu ul li a{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    color: aliceblue;
    text-transform: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px 25px;
    transition: all 0.3s ease-in-out;
    justify-content: left;
    text-align: center;
 }
 nav ul{
    list-style: none;
    display: flex;
    margin:0;
    padding:40 px;
    text-align: center;
}
nav{
    padding: 20 px 100px;
    display: flex;   
    align-items:center;
    justify-content:space-between;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}
.sign-up button{
    display: block;
    margin: 0 auto;
    border: none;
    background:rgb(146, 6, 6);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    margin-right: 20px;
}
.body-logo{
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.body-logo img{
    max-width: 100px;
    height:auto;
    float: left;
}